<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>640710962646-dml0ift4el1v98pt3c960od1sf1mbsiu.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.640710962646-dml0ift4el1v98pt3c960od1sf1mbsiu</string>
	<key>API_KEY</key>
	<string>AIzaSyCzBwylKquV2yvTSuWlBJ08uobW0DOyHrU</string>
	<key>GCM_SENDER_ID</key>
	<string>640710962646</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.fira.mynotes</string>
	<key>PROJECT_ID</key>
	<string>fira-mynotes</string>
	<key>STORAGE_BUCKET</key>
	<string>fira-mynotes.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:640710962646:ios:f879b32521918ff0a08877</string>
</dict>
</plist>